<p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
        <p-step [value]="1">DPP URIs</p-step>
        <p-step [value]="2">Properties' selection</p-step>
        <p-step [value]="3">Comparison table</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                    <app-dpp-uris [existing]="urls" (urlsSubmitted)="onUrlsSubmitted($event)"></app-dpp-uris>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="!hasUrlsForNext()"
                        (onClick)="activateCallback(2)" />
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                    <app-ontology-tree (fieldMappingChanged)="onFieldMappingChanged($event)"></app-ontology-tree>
                </div>
                <div class="flex pt-6 justify-between">
                    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                        (onClick)="activateCallback(1)" />
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="!hasPropertiesForNext()"
                        (onClick)="activateCallback(3)" />
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                    <app-dpp-comparison (onRunComparison)="runComparison()" [comparisonData]="comparisonData"
                        [dppUris]="urls" [fieldMapping]="fieldMapping"></app-dpp-comparison>
                </div>
                <div class="flex pt-6 justify-start">
                    <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>